/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
#add{
  padding:10px;
}
 /*cart css*/
 .badge-notify{
  background:orange;
  /*position:relative*/;
  top: -12px;
  right: 1px;
}
.my-cart-icon { 
margin-top: 18px;  
}
#cartbtn {
  color:orange;
}
#cartbtn:hover{
  color:silver;
}
#num{
  width:50px;
}
.borderless td, borderless th{
  border:none;
}
#btnSignIn{
  margin: 10px;

  /*width: 10px;
  height: 5px;*/
}
#dropdown-menu{
  margin-top: 10px;
  width: 400px;
  text-align: center;
  background:rgba(0,0,0,0.8);
}
#dropdown-menu input{
   border:yellow 1px solid;
    border-radius: 25px;
    background-color:rgba(255,255,255,0.8); 
}
#dropdown-menu label{
    color: orange;
}
.enter{
  background-color: gold !important;
}
.words{
  color: green;
}
.words button {
  background-color: transparent;
  border: transparent;
  color:blue;
}


.toggle{
  display: none;
}
#fly{
  color: green !important;
  margin-top: 12px;
}
#fly span button{
  background-color: transparent !important;
  border: transparent !important;
  color: silver !important;

}
#signout{
  margin-top: 0px;
  text-align: center;
  background:rgba(0,0,0,0.8);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbarRed {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:brown;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbarRed.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}






