body{

    background-color:rgba(0, 0, 0,0.8)
} 
#header{

  text-align: center;
}
#table-body{

align-content: center;
}
table {  
  margin:20px;
  color: #333;
  width:1200px;
  border-collapse: collapse; 
  /*border-spacing: 0; */
}

td, th {  
  border: 1px solid transparent; /* No more visible border */
  height: 30px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
  background: blue;  /* Darken header a bit */
  font-weight: bold;
  color:white;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background:white; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background:silver; }  
a{
  text-decoration: none;
  color:red;
}